.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  max-width: 460px;
}

@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 320px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
