.places {
  max-width: 984px;
  margin: 92px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0 auto;
    gap: 73px;
  }
}

@media (max-width: 604px) {
  .places {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 320px) {
  .places {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
    gap: 50px;
  }
}
