.place__image {
  width: 460px;
  grid-row-start: span 2;
  margin-top: 48px;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    width: 340px;
    margin-top: 32px;
    margin: 32px auto 0 auto;
  }
}

@media (max-width: 374px) {
  .place__image {
    width: 320px;
    position: relative;
    left: -16px;
  }
}
