.place__image {
  max-width: 460px;
  grid-row-start: span 2;
  margin-top: 48px;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 374px) {
  .place__image {
    max-width: 320px;
  }
}

@media (max-width: 352px) {
  .place__image {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .place__image {
    margin-top: 32px;
    width: 100%;
    height: auto;
  }
}
