.intro {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
  }
}
