.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  opacity: 1;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
