.lead__caption {
  align-self: flex-start;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    margin-left: 0;
  }
}
