.place {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 40px;
}

@media (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media (max-width: 604px) {
  .place {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
