.place__website {
  justify-self: start;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 320px) {
  .place__website {
    margin-top: 32px;
    margin-left: 16px;
  }
}
