.cover__item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: auto;
  gap: 32px;
  background-image: url("../../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  aspect-ratio: 1184 / 740;
  object-fit: cover;
}

.cover__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color 0.3s ease-out;
  z-index: -1;
}

.cover__item:hover::after {
  background-color: rgba(42, 44, 47, 0.3);
}

@media (max-width: 320px) {
  .cover__item {
    gap: 16px;
  }
}
